[Desktop Entry]
Name=GTali
Name[de]=GTali
Name[es]=GTali
Name[fi]=GTali
Name[fr]=GTali
Name[no]=GTali
Name[ru]=Гтали
Comment=Gnome Dice game
Comment=Das Gnome-WЭrfelspiel
Comment[es]=Juego de dados tipo yahtzee
Comment[fi]=Gnome-jatsipeli
Comment[fr]=Jeu de dИs de genre yahtzee
Comment[no]=Yahtzee spill for GNOME
Comment[ru]=Игра в кости для Gnome
Exec=gtali
Icon=gnome-gtali.png
Terminal=0
Type=Application
