[Desktop Entry]
Name=GTali
Name[pt_BR]=GTali
Name[da]=GTali
Name[de]=GTali
Name[el]=GTali
Name[es]=GTali
Name[et]=GTali
Name[fi]=GTali
Name[fr]=GTali
Name[gl]=GTali
Name[ja]=GTali
Name[lt]=GTali
Name[no]=GTali
Name[ru]=çÔÁÌÉ
Name[sk]=GTali
Name[sv]=GTali
Comment=Gnome Dice game
Comment[pt_BR]=Jogo de Dados Gnome
Comment[da]=Yatzy spil til Gnome
Comment[de]=Das Gnome-Würfelspiel
Comment[el]=Ğáé÷íßäé æáñéşí ôïõ Gnome
Comment[es]=Juego de dados tipo yahtzee
Comment[et]=Yahtzee täringumäng
Comment[fi]=Gnome-jatsipeli
Comment[fr]=Jeu de dés de genre yahtzee
Comment[gl]=Xogo de dados de Gnome
Comment[ja]=GNOMEÈÇ¤µ¤¤¤³¤í¥²¡¼¥à
Comment[lt]=Gnome kauliukø şaidimas
Comment[no]=Yahtzee spill for GNOME
Comment[ru]=éÇÒÁ × ËÏÓÔÉ ÄÌÑ Gnome
Comment[sk]=Hra Kocky pre GNOME
Comment[sv]=Tärningsspel för Gnome
Exec=gtali
Icon=gnome-gtali.png
Terminal=0
Type=Application
