[Desktop Entry]
Name=Gyahtzee
Name[es]=Gyahtzee
Name[fr]=Gyahtzee
Name[pt]=Gyahtzee
Comment=Gnome Yahtzee game
Comment[es]=Juego de dados Yahtzee
Comment[fr]=Le jeu de dés Yahtzee
Comment[pt]=Versão Gnome do Yahtzee
Exec=gyahtzee
Icon=gnome-gyahtzee.png
Terminal=0
Type=Application
