/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gtali.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gtali.xml
/cs/cs.po
/cs/gtali.xml
/de/de.po
/de/gtali.xml
/el/el.po
/el/gtali.xml
/en_GB/en_GB.po
/en_GB/gtali.xml
/es/es.po
/es/gtali.xml
/eu/eu.po
/eu/gtali.xml
/fr/fr.po
/fr/gtali.xml
/gtali-C.omf
/gtali-ca.omf
/gtali-cs.omf
/gtali-de.omf
/gtali-el.omf
/gtali-en_GB.omf
/gtali-es.omf
/gtali-eu.omf
/gtali-fr.omf
/gtali-it.omf
/gtali-oc.omf
/gtali-pt_BR.omf
/gtali-sv.omf
/it/gtali.xml
/it/it.po
/oc/gtali.xml
/oc/oc.po
/pt_BR/gtali.xml
/pt_BR/pt_BR.po
/so_locations
/sv/gtali.xml
/sv/sv.po
/tags
